* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: bisque;
}

h1 {
    text-align: center;
    color: crimson;
    border-bottom: 2px double;
    padding: 15px;
    background-color: azure;
}

.card {
    border: 2px solid crimson;
    width: 50%;
    margin: 20px auto;
    text-align: center;
    list-style: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px rgb(80, 80, 80);
}

.card p {
    display: inline-block;
    width: 100%;
    padding: 5px;
    background-color: azure;
}

.card img {
    width: 100%;
    border-bottom: 2px solid crimson;
}

.card a {
    display: block;
    padding: 7px 15px;
    background-color: rgb(251, 75, 75);
    margin: auto;
    width: 150px;
    border-radius: 5px;
}

footer {
    text-align: center;
    font-size: small;
}